
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}
header {
    background: #222;
    color:#fff;
    padding: 20px;
    text-align: center;
}
.perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-style: solid;
    border-color: #fff;
    margin: 10px auto;
    display: block;
    object-fit: cover;
}
.intro, .projects, .certificaciones{
    padding: 20px;
    margin: auto;
    max-width: 800px;
}
.projects ul, .certificaciones ul{
    list-style: none;
    padding: 0;
}
.projects li, .certificaciones li {
    background: #fff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.proyecto-imagen {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
}
.presentacion {
    backdrop-filter: blur(100px);
}
footer {
    text-align: center;
    padding: 15px;
    background: #ddd;
}
a {
    color: #0066cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
